---
layout: archive
title: "Publications"
hide_title: true
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> and <a href="https://orcid.org/0000-0003-3994-3244">ORCID</a>.</div>
  <p class="publication-note" style="margin-top: 8px; margin-left: 0; margin-bottom: 8px;">* indicates equal contribution</p>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
